@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.topbar {
  z-index: 999999 !important;
}

.custom-hero {
  background-color: rgba(38, 54, 87, 0.7);
}

.custom-hero-image {
  background-size: cover;
}

.overlay {
  position: relative;
  z-index: 40;
}

.invisible {
  position: absolute;
  width: 0;
  height: 0;
}

.hero-arrow {
  fill: #fff;
}

.color-pink {
  color: #db2777;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1d4fd8d0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 639px) {
  .footer-panel:not(:first-child) {
    margin-top: 1rem;
  }
}

.flex-custom-row:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .flex-custom-row:nth-child(even) {
    flex-direction: column;
  }
}
